/*!

=========================================================
* NextJS Argon Dashboard PRO - v1.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/nextjs-argon-dashboard-pro
* Copyright 2021 Creative Tim (https://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/

// Bootstrap RTL
@import "bootstrap-rtl/bootstrap-rtl";

// Bootstrap functions
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

// Argon functions
@import "custom/functions";
@import "custom/variables";
@import "~bootstrap/scss/variables";

// Argon mixins
@import "custom/mixins";

// Bootstrap components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

// Argon components
@import "custom/components";
@import "custom/utilities";
@import "custom/vendors";

// React differences
@import "react/react-differences";

button:disabled {
  cursor: not-allowed !important;
}
.shadow-2lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.pointer {
  cursor: pointer !important;
}

.disabled {
  cursor: not-allowed !important;
}

.disabled-contents {
  cursor: not-allowed !important;
  opacity: 0.2 !important;
}

.border-primary-5-left {
  border-left: 5px solid $primary;
}
.border-success-5-left {
  border-left: 5px solid $success;
}
.border-danger-5-left {
  border-left: 5px solid $danger;
}
.border-default-5-left {
  border-left: 5px solid $default;
}
.border-warning-5-left {
  border-left: 5px solid $warning;
}

@include media-breakpoint-up(sm) {
  .display-4 {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  .display-4 {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  .display-4 {
    font-size: 2rem;
  }
}
